.white__cell {
    border: 1px solid gray;
    background-color: white;
    width: 64px;
    height: 64px;
}

.black__cell {
    border: 1px solid gray;
    background-color: black;
    width: 64px;
    height: 64px;
}

.transparent__cell {
    border: 1px solid gray;
    background-color: transparent;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    font-size: 32px;
    color: gray;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}